<div class="navBar">
    <div id="logo"></div>
    <div id="heading"><a routerLink="/">Chat Blaugranas.es</a></div>
  <div class="links">
    <span>
      <a *ngIf="!(user|async)?.uid" href="#" (click)="authService.login()">Entrar</a>
    </span>
    <span>
      <a *ngIf="!(user|async)?.uid" routerLink="/signup">Registro</a>
    </span>
    <span>
      <span id="userEmail" *ngIf="(user|async)?.uid">Hola, {{userEmail}}</span>
    </span>
    <span>
      <a *ngIf="(user|async)?.uid" href="#" (click)="logout()">Cerrar sesión</a>
    </span>
  </div>
</div>
